# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
venv/
.env

# Docker
.dockerignore
# Если вы монтируете том как локальную папку (не рекомендуется для данных БД)
# postgres_data/

# IDE / OS files
.idea/
.vscode/
*.DS_Store